@model IEnumerable<DiffFinder.Models.DiffrenceInformation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-controller="DifferenceInformation" method="post" >Create New</a>
</p>
<table class="table" enctype="multipart/form-data">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LeftString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RightString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result)
            </th>
            <th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LeftString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RightString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Result)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DifferenceInformationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DifferenceInformationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DifferenceInformationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>