@model IEnumerable<DiffFinder.Models.DiffsOffsets>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>
@if (@Model.Count() > 0)
{
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Diffs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Offset)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeftChar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RightChar)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Diffs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Offset)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeftChar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RightChar)
            </td>
        </tr>
}
    </tbody>
    </table>
}
else
{
    <p>There is no data to display.</p>
}

<div>
    <a asp-action="Index">Back to List</a>
</div>
